{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}
    Homepage
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 hero-container">
            <div class="hero-content background-purple p-5 rounded-3 border-olive">
                <h1 class="header-text text-xl text-white">{{ name }}</h1>
                <p class="py-3 px-2 my-2 text-white hero-text">Master engineer and all round genius!</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<section class="container my-5">
    <div class="row">

        {% for blog in blogs %}
        <div class="col-12 col-md-6">
            <div class="card my-3 p-0">
                <a href="{% url 'blog_details' blog.slug %}" class="text-decoration-none text-purple">
                    <h5 class="background-olive w-100 text-md p-3 m-0 text-purple text-center">{{ blog.title }}
                    </h5>
                    <div class="card-body">
                        <span class="text-sm">
                            {{ blog.content|safe }}
                    </div>



                </a>
                
                <div class="container mt-3">

                    <hr class="w-75 text-dark-blue mx-auto">
                    <div class="row">
                        {% for project in blog.project.all %}
                        <a href="#" class="col-12 col-sm-6 text-decoration-none text-center text-sm my-2 ">
                            <span
                                class="badge header-text fw-light background-dark-blue text-white w-75 opacity-75">{{ project|title }}</span>
                        </a>
                        {% endfor %}

                            <p class="col-12 text-xs my-2">
                                {{ blog.date }}
                            </p>

                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</section>

{% endblock %}