{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}
Homepage
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 hero-container">
            <div class="hero-content background-purple p-5 rounded-3 border-olive">
                <h1 class="header-text text-xl text-white m-3 m-md-5">{{ name }}</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<section class="container background-white">
    <div class="row">
        <div class="col-12">
            <h3 class="header-text text-lg text-purple my-5 pb-3 text-center border-bottom-olive w-100">Latest Blog</h3>
        </div>
        <div class="col-12 ">
            <div class="my-3 p-0 ">
                <div class="text-purple row">
                    <div class="w-100  p-3 m-0 text-white rounded-0 rounded-lg-3 text-center background-purple col-12">
                        <h5 class="text-md">{{ blog.title|title }}</h5>
                        <p class="text-xs col-12 my-3">{{ blog.date }}</p>
                    </div>
                    <div class="card-body">
                        <div class="text-sm text-center text-lg-start">
                            {{ blog.content|safe|truncatewords:150 }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="{% url 'blog_details' blog.slug %}"
                                class="button background-purple text-white text-sm header-text fw-light p-3 letter-spacing2 my-5">
                                View Blog
                            </a>
                        </div>
                    </div>

                    <div class="container mt-3">

                        <hr class="w-75 text-dark-blue mx-auto">
                        <div class="row">
                            {% for project in blog.project.all %}
                            <a href="{% url 'project_details' project.slug %}"
                                class="col-12 col-sm-6 text-decoration-none text-center text-sm my-2 ">
                                <span
                                    class="badge header-text fw-light background-dark-blue text-white w-75 opacity-75">{{ project|title }}</span>
                            </a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<section class="container my-5 mx-auto links-container border-top-olive text-center">
    <div class="row my-5">
        <div class="col-12">
            <h3 class="header-text text-lg text-purple my-5 pb-3 text-center border-bottom-olive w-100">Topics and
                Blogs</h3>
        </div>
        <div class="col-12 col-md-6">
            <a href="{% url 'blogs' %}"
                class="button background-purple text-white text-sm header-text fw-light p-3 letter-spacing2 my-5">
                All Blogs
            </a>
        </div>
        <div class="col-12 col-md-6">
            <a href="{% url 'topics' %}"
                class="button background-purple text-white text-sm header-text fw-light p-3 letter-spacing2 my-5">
                All Topics
            </a>
        </div>
    </div>

</section>

{% endblock %}