:root {
    --purple: #411336;
    --white: #FEFCFF;
    --dark-blue: #393B4D;
    --dark-green: #547C81;
    --olive: #A7B7A7;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;
}

/* Font sizes */

.text-xs {
    font-size: 1.5rem;
}

.text-sm {
    font-size: 2rem;
}

.text-md {
    font-size: 3rem;
}

.text-lg {
    font-size: 4rem;
}

.text-xl {
    font-size: 5rem;
}