:root {
    --purple: #411336;
    --white: #FEFCFF;
    --dark-blue: #393B4D;
    --dark-green: #547C81;
    --olive: #A7B7A7;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;
}
