@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Klee+One&display=swap');

/* 
headers - font-family: 'Cormorant SC', serif;
general text - font-family: 'Klee One', cursive; 
*/

:root {
    --purple: #411336;
    --white: #FEFCFF;
    --dark-blue: #393B4D;
    --dark-green: #547C81;
    --olive: #A7B7A7;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Klee One', cursive;
}

/* Font sizes */

.text-xs {
    font-size: 1.5rem;
}

.text-sm {
    font-size: 2rem;
}

.text-md {
    font-size: 3rem;
}

.text-lg {
    font-size: 4rem;
}

.text-xl {
    font-size: 5rem;
}

/* Font colours */

.text-purple {
    color: var(--purple);
}

.text-white {
    color: var(--white);
}

.text-dark-blue {
    color: var(--dark-blue);
}

.text-olive {
    color: var(--olive);
}

.header-text {
    font-family: 'Cormorant SC', serif;
}

/* Background colours */

.background-purple {
    background-color: var(--purple);
}

.background-white {
    background-color: var(--white);
}

.background-dark-blue {
    background-color: var(--dark-blue);
}

.background-olive {
    background-color: var(--olive);
}

/* Borders */

.border-bottom-olive {
    border-bottom: 2px solid var(--olive);
}

.border-top-olive {
    border-top: 2px solid var(--olive);
}

/* Navbar */

.nav-spacer,
.navbar,
.spacer {
    height: 7.5rem;
}

.footer {
    height: auto;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem var(--olive)
}

.navbar-toggler {
    background-color: var(--white);
}

.nav-link:hover {
    background-color: var(--olive);
    color: var(--purple) !important;
    font-weight: 700;
    transition: 0.8s;
}

.active {
    background-color: var(--white);
    color: var(--dark-blue) !important;
    font-weight: 700;
    box-shadow: 0px 0px 10px 5px var(--olive);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--olive) !important;
    transition: 0.8s;
}