@media (min-width: 576px) {
    .card {
        height: 38rem !important;
    }

}

@media (min-width: 768px) {
    .card {
        height: 30rem !important;
    }

}

@media (min-width: 992px) {
    .navbar-collapse {
        background-color: transparent;
        border-bottom: none;
    }

    .footer-link {
        font-size: 2.5rem;
    }

    .text-header {
        font-size: 5rem;
    }

    .hero-text {
        font-size: 3rem !important;
    }

}