{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}

{% block title %}
Projects
{% endblock %}

{% block header %}
<div class="col-12">
    <h1
        class="text-lg text-dark-blue text-header header-text text-center mb-5 py-5 letter-spacing2 border-bottom-olive">
        Topics
    </h1>
</div>
{% endblock %}

{% block content %}

<section class="container my-5">
    <div class="row">

        {% for project in all_projects|dictsort:"name" %}
        <div class="col-12">
            <div class="card card-projects my-3 p-0 position-relative">
                <div class="text-purple">
                    <h5 class="background-olive w-100 text-md p-3 m-0 text-purple text-center">{{ project.name|title }}
                    </h5>
                    <div class="card-body h-100">
                        {% if project.description %}
                        <p class="text-sm">{{ project.description|safe|truncatewords:50 }}
                        {% endif %}

                        <div class="row position-absolute bottom-0 start-50 translate-middle-x mb-5">
                            <div class="col-12 text-center">
                                <a href="{% url 'project_details' project.slug %}"
                                class="button background-purple text-white text-sm header-text fw-light p-3 letter-spacing2 my-5">
                                View Topic
                            </a>
                            </div>
                        </div>
                            
                            <div class="mt-5">
                                <p class="position-absolute bottom-0 left-0">
                                    Blogs<span class="badge bg-secondary ms-3">
                                        {% for item, value in project_totals.items %}
                                        {% if item|lower == project.name|lower %}
                                        <span>{{value}}</span>

                                        {% endif %}
                                        {% endfor %}
                                    </span>
                                </p>
                            </div>

                    </div>

                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</section>

{% endblock %}