{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blogs.css' %}">
{% endblock %}

{% block title %}
Blogs
{% endblock %}

{% block header %}
<div class="col-12">
    <h1
        class="text-lg text-dark-blue text-header header-text text-center mb-5 py-5 letter-spacing2 border-bottom-olive">
        About
    </h1>
</div>
{% endblock %}

{% block content %}

<section class="container my-5">
    <div class="row">

       about
    </div>

</section>

{% endblock %}