<nav class="navbar navbar-expand-lg navbar-light py-0 px-lg-3 fixed-top background-purple border-bottom-olive">
    <div class="container-fluid p-0 m-0">
        <!-- Logo and hamburger -->
        <a class="navbar-brand text-md text-header text-white ms-3" href="{% url 'home' %}"
            aria-labelledby="navbar-site-name">
            Louise Lynch
        </a>
        <span id="navbar-site-name" class="sr-only">
            A link with white text and purple background that navigates back to the homepage
        </span>

        <button class="navbar-toggler text-sm rounded-0 me-3 my-4 me-xl-5 rounded-3" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <!-- Menu links -->
        <div class="collapse navbar-collapse text-sm" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto p-5 p-lg-0 background-purple">

                <li class="nav-item me-lg-3 me-xl-5 my-3 my-lg-0">
                    <a class="nav-link text-sm text-white text-center p-3 rounded-3" href="#"
                        aria-labelledby="navbar-projects">
                        Projects
                    </a>
                    <span id="navbar-projects" class="sr-only">
                        A link with white text and a purple background that navigates to the projects page in the same
                        tab
                    </span>
                </li>

                <li class="nav-item me-lg-3 me-xl-5 my-3 my-lg-0">
                    <a class="nav-link text-sm text-white text-center p-3 rounded-3" href="#"
                        aria-labelledby="navbar-blogs">
                        Blogs
                    </a>
                    <span id="navbar-blogs" class="sr-only">
                        A link with white text and a purple background that navigates to the blogs page in the same
                        tab
                    </span>
                </li>

                
                <li class="nav-item me-lg-3 me-xl-5 my-3 my-lg-0">
                    <a class="nav-link text-sm text-white text-center p-3 rounded-3" href="#"
                        aria-labelledby="navbar-about">
                        About
                    </a>
                    <span id="navbar-about" class="sr-only">
                        A link with white text and a purple background that navigates to the about page in the same
                        tab
                    </span>
                </li>

                <li class="nav-item me-lg-3 me-xl-5 my-3 my-lg-0">
                    <a class="nav-link text-sm text-white text-center p-3 rounded-3" href="#"
                        aria-labelledby="navbar-contact">
                        Contact
                    </a>
                    <span id="navbar-contact" class="sr-only">
                        A link with white text and a purple background that navigates to the contact page in the same
                        tab
                    </span>
                </li>

            </ul>
        </div>
    </div>
</nav>